<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2gkgO5EHvCU91rSE2MKlyfgLwya9CTZc</string>
	<key>GCM_SENDER_ID</key>
	<string>1093618242912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prodigalai.voiceroom.com.multiUserVoiceRoom</string>
	<key>PROJECT_ID</key>
	<string>prodicalaitest</string>
	<key>STORAGE_BUCKET</key>
	<string>prodicalaitest.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093618242912:ios:7c547df63c31bb6e353a05</string>
</dict>
</plist>